{# templates/index/index.html.twig #} {% extends 'base.html.twig' %} {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="card bg-light mb-3 mt-5" style="width: 800px">
                    <div class="card-body">
                        <div class="card-header mb-3">US Cities: Demographics</div>
                        {% if app.user %}
                            {{ form_start(form) }}
                            <div class="form_group">
                                <div class="col-md-12 mb-3">
                                    {{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-btn fa-user"></i> Search
                                    </button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            {% if demographics|length > 0 %}
                                <br><h3>Search results for {{ demographics.city }}</h3>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">Data</th>
                                        <th scope="col">Values</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">Median age</th>
                                        <td>{{ demographics.median_age }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total population</th>
                                        <td>{{ demographics.total_population }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Male population</th>
                                        <td>{{ demographics.male_population }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Female population</th>
                                        <td>{{ demographics.female_population }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Foreign born</th>
                                        <td>{{ demographics.foreign_born }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Average household</th>
                                        <td>{{ demographics.average_household_size }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Races</th>
                                        <td>{{ demographics.race }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                {% if cachedTime is defined %}
                                    <h5>Last update: {{ cachedTime }}</h5><hr>
                                {% endif %}
                            {% endif %}
                            {% if lastSearchRequests|length > 0 %}
                                <br><h3>Recent searches</h3>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">City</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for searchRequest in lastSearchRequests %}
                                        <tr>
                                            <th scope="row">{{ searchRequest.city }}</th>
                                            <td>{{ searchRequest.date|date('Y-m-d') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% else %}
                            <div>
                                <p>Unauthorized. Please login first.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}